@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body, html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @apply text-foreground;
}

a {
  text-decoration: none;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
